[core]
    editor = vim
    excludesfile = ~/.gitignore

[user]
    email = 69187273+TwinkletoesZen@users.noreply.github.com
    name = TwinkletoesZen
    signingkey = ~/.ssh/id_rsa.pub

[alias]
    s = status
    co = checkout
    m = merge
    alllog = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all


[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true


[gpg]
	format = ssh
[commit]
	gpgsign = true
[pull]
	rebase = false
