[user]
	email = 69187273+TwinkletoesZen@users.noreply.github.com
	name = TwinkletoesZen
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
