@import "mocha.css";

* {
  /* font-family: FantasqueSansMono Nerd Font; */
  font-family: HurmitNerdFontMono;
  font-size: 12px;
  min-height: 0;
}

#waybar {
    /* background-color: shade(@base, 0.9); */
    background-color: transparent;
    color: @text;
    /* margin: 3px 3px; */
}

#workspaces {
  border-radius: 1rem;
  /* margin: 3px; */
  /* background-color: @surface0; */
  background-color: transparent;
  /* margin-left: 1rem; */
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  /* padding: 0.4rem; */
}

#workspaces button.active {
  color: @sky;
  /* border-radius: 1rem; */
}

#workspaces button:hover {
  color: @sapphire;
  /* border-radius: 1rem; */
}

#network {
    /* background-color: @surface0; */
  background-color: transparent;
  padding: 0.0rem 0rem;
  margin: 0px 0;
}

#clock.1 {
  color: @blue;
  /* border-radius: 0px 1rem 1rem 0px; */
}
#clock.2 {
  color: @red;
  /* border-radius: 0px 1rem 1rem 0px; */
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#network {
  color: @white;
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 0rem 0px 0px 0rem;
  margin-left: 0rem;
}

#tray {
  /* margin-right: 1rem; */
  border-radius: 1rem;
}


#cpu {
    margin-left: 1rem;
}
